<div class="content">
<h1>Edit Student</h1>

<%= form_with(model: @student, local: true) do |form| %>
	<p>
		<%= form.label :last %><br>
		<%= form.text_field :last %>
	</p>
	<p>
		<%= form.label :first %><br>
		<%= form.text_field :first %>
	</p>
	<p>
		<%= form.label :gpa %><br>
		<%= form.number_field(:gpa, step: 0.1) %>
	</p>
	<p>
		<%= form.label :date %><br>
		<%= form.date_field :date %>
	</p>
	<p>
		<%= form.submit %>
	</p>
<% end %>
</div>