<p>
	<strong>Last Name: </strong>
	<%= @student.last %>
</p>
<p>
	<strong>First Name: </strong>
	<%= @student.first %>
</p>
<p>
	<strong>Grade Point Average: </strong>
	<%= @student.gpa %>
</p>
<p>
	<strong>Graduation Date: </strong>
	<%= @student.date %>
</p>
<br>
<%= link_to 'Back', students_path %>
